# READ THE DATA SET

In [ ]:
import pandas as pd
Dataset = pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv")

# Top 5 rows

In [18]:
print("Top 5 Rows:")
print(Dataset.head())

Top 5 Rows:
                       name  year  selling_price  km_driven    fuel  \
0             Maruti 800 AC  2007          60000      70000  Petrol
1  Maruti Wagon R LXI Minor  2007         135000      50000  Petrol
2      Hyundai Verna 1.6 SX  2012         600000     100000  Diesel
3    Datsun RediGO T Option  2017         250000      46000  Petrol
4     Honda Amaze VX i-DTEC  2014         450000     141000  Diesel

  seller_type transmission         owner
0  Individual       Manual   First Owner
1  Individual       Manual   First Owner
2  Individual       Manual   First Owner
3  Individual       Manual   First Owner
4  Individual       Manual  Second Owner

# Last 5 rows

In [ ]:
print("\nBottom 5 Rows:")
print(Dataset.tail())

Bottom 5 Rows:
                                     name  year  selling_price  km_driven  \
4335  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014         409999      80000
4336           Hyundai i20 Magna 1.4 CRDi  2014         409999      80000
4337                  Maruti 800 AC BSIII  2009         110000      83000
4338     Hyundai Creta 1.6 CRDi SX Option  2016         865000      90000
4339                     Renault KWID RXT  2016         225000      40000

        fuel seller_type transmission         owner
4335  Diesel  Individual       Manual  Second Owner
4336  Diesel  Individual       Manual  Second Owner
4337  Petrol  Individual       Manual  Second Owner
4338  Diesel  Individual       Manual   First Owner
4339  Petrol  Individual       Manual   First Owner

# Rows and columns total quantity

In [20]:
print("\nTotal Rows and Columns:")
print("Rows:", Dataset.shape[0])
print("Columns:", Dataset.shape[1])

Total Rows and Columns:
Rows: 4340
Columns: 8

# null value in columns

In [22]:
print("\nNull Values in Dataset:")
print(Dataset.isnull().sum())

Null Values in Dataset:
name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

# Null values fill

In [24]:
Dataset = Dataset.fillna(Dataset.mode().iloc[0])

# Columns data types

In [ ]:
print("\nDatatypes of Columns:")
print(Dataset.dtypes)

Datatypes of Columns:
name             object
year              int64
selling_price     int64
km_driven         int64
fuel             object
seller_type      object
transmission     object
owner            object
dtype: object

In [26]:
dataset.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [27]:
dataset.dtypes

name             object
year              int64
selling_price     int64
km_driven         int64
fuel             object
seller_type      object
transmission     object
owner            object
dtype: object

In [28]:
dataset.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [29]:
dataset["fuel"].value_counts()

fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64